<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.uiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_img"
        android:label="UandI"
        android:roundIcon="@mipmap/ic_img_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sensor.TemperatureActivity"></activity>
        <activity android:name=".sensor.HumidityActivity" />
        <activity android:name=".mypage.mypageActivity" />
        <activity android:name=".mypage.Register" />
        <activity android:name=".mypage.DashBoard" />
        <activity android:name=".cameralist.CameraListActivity" />
        <activity android:name=".calendar.CalendarActivity" />
        <activity android:name=".soslist.SosListActivity" />
        <activity android:name=".caringlist.caringlistActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>